In [2]:
#import dependencies 
import pandas as pd 
from sqlalchemy import create_engine
import psycopg2
import config

In [71]:
# read in merged data from repo 
beer_data = pd.read_csv('beer_data.csv')
beer_data.head(2)

beer_data.info()

,abv,ibu,id,name,style,brewery_id,ounces,brewery_idbrewery_,namebrewery_,city,state
0,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),177,12.0,177,18th Street Brewery,Gary,IN
1,0.099,92.0,1036,Lower De Boom,American Barleywine,368,8.4,368,21st Amendment Brewery,San Francisco,CA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   abv                 1403 non-null   float64
 1   ibu                 1403 non-null   float64
 2   id                  1403 non-null   int64
 3   name                1403 non-null   object
 4   style               1403 non-null   object
 5   brewery_id          1403 non-null   int64
 6   ounces              1403 non-null   float64
 7   brewery_idbrewery_  1403 non-null   int64
 8   namebrewery_        1403 non-null   object
 9   city                1403 non-null   object
 10  state               1403 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 120.7+ KB

In [5]:
# testing psycopg2 connection to aws through postgres 
conn = psycopg2.connect(database='postgres', user=config.user, password=config.db_password, host=config.host)
cur = conn.cursor()

cur.execute('''CREATE TABLE beer_data ( 
                col_1 TEXT PRIMARY KEY,
                col_2 BIGINT,
                col_4 DOUBLE PRECISION,
                col_7 DATE
           );''')

conn.commit()
conn.close()

In [16]:
#testing sqlalcehmy database connection
database = f'postgres://{config.user}:{config.db_password}@{config.host}/postgres'
engine = create_engine(database)

In [17]:
# testing querying database 
pd.read_sql_query('SELECT * FROM sample' ,con=engine)

Empty DataFrame
Columns: [col_1, col_2, col_4, col_7]
Index: []