In [1]:
#import dependecies 
import pandas as pd

In [24]:
# load csv 
beers_df = pd.read_csv('beers.csv')
brewery_df = pd.read_csv('breweries.csv')

In [27]:
#review dataframes
beers_df.head()
brewery_df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

   Unnamed: 0                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [28]:
#drop column 
beers_df.drop('Unnamed: 0', axis=1, inplace=True)

In [34]:
#renme column 
brewery_df.columns[0]
brewery_df.rename({'Unnamed: 0':'brewery_id'},axis=1, inplace=True)
brewery_df.head()

'Unnamed: 0'

   brewery_id                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [40]:
#merge columns 
merged_df = beers_df.join(brewery_df, how='left',on='brewery_id', rsuffix='brewery_')

In [42]:
#review 
merged_df.head()

,abv,ibu,id,name,style,brewery_id,ounces,brewery_idbrewery_,namebrewery_,city,state
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0,408,10 Barrel Brewing Company,Bend,OR
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0,177,18th Street Brewery,Gary,IN
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0,177,18th Street Brewery,Gary,IN
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0,177,18th Street Brewery,Gary,IN
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0,177,18th Street Brewery,Gary,IN

In [70]:
merged_df[(merged_df['abv'].isnull()) & (merged_df['ibu'].isnull())]

,abv,ibu,id,name,style,brewery_id,ounces,brewery_idbrewery_,namebrewery_,city,state
294,NaN,NaN,1541,Double Play Pilsner,American Pilsner,380,12.0,380,Blue Blood Brewing Company,Lincoln,NE
299,NaN,NaN,1025,N Street Drive-In 50th Anniversary IPA,American Double / Imperial IPA,380,12.0,380,Blue Blood Brewing Company,Lincoln,NE
315,NaN,NaN,2490,Professor Black,American Stout,77,12.0,77,Blue Owl Brewing,Austin,TX
316,NaN,NaN,2489,Little Boss,American Pale Wheat Ale,77,12.0,77,Blue Owl Brewing,Austin,TX
317,NaN,NaN,2488,Van Dayum!,American Amber / Red Ale,77,12.0,77,Blue Owl Brewing,Austin,TX
...,...,...,...,...,...,...,...,...,...,...,...
2186,NaN,NaN,121,Cornstalker Dark Wheat,American Dark Wheat Ale,282,12.0,282,Thunderhead Brewing Company,Kearney,NE
2337,NaN,NaN,652,West Sixth IPA,American IPA,100,12.0,100,West Sixth Brewing,Lexington,KY
2345,NaN,NaN,2364,Royal Lager,American Pale Lager,132,16.0,132,Weston Brewing Company,Weston,MO
2347,NaN,NaN,2344,O’Malley’s Stout,English Stout,132,12.0,132,Weston Brewing Company,Weston,MO
2349,NaN,NaN,2342,O’Malley’s Irish Style Cream Ale,Cream Ale,132,12.0,132,Weston Brewing Company,Weston,MO

In [80]:
#drop missing values  
drop_list = merged_df[merged_df.ibu.isnull()].index.to_list()

In [82]:
#drop missing values 
merged_df.drop(drop_list,axis=0, inplace=True)

In [83]:
merged_df.isnull().sum()

abv                   0
ibu                   0
id                    0
name                  0
style                 2
brewery_id            0
ounces                0
brewery_idbrewery_    0
namebrewery_          0
city                  0
state                 0
dtype: int64

In [87]:
# create drop list 
drop_2 = merged_df[merged_df['style'].isnull()].index

In [88]:
#drop missing values 
merged_df.drop(drop_2,axis=0,inplace=True)

In [89]:
#review 
merged_df.isnull().sum()

abv                   0
ibu                   0
id                    0
name                  0
style                 0
brewery_id            0
ounces                0
brewery_idbrewery_    0
namebrewery_          0
city                  0
state                 0
dtype: int64

In [90]:
#review 
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1403 entries, 14 to 2408
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   abv                 1403 non-null   float64
 1   ibu                 1403 non-null   float64
 2   id                  1403 non-null   int64
 3   name                1403 non-null   object
 4   style               1403 non-null   object
 5   brewery_id          1403 non-null   int64
 6   ounces              1403 non-null   float64
 7   brewery_idbrewery_  1403 non-null   int64
 8   namebrewery_        1403 non-null   object
 9   city                1403 non-null   object
 10  state               1403 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 131.5+ KB

In [91]:
# review style column 
merged_df['style'].nunique()
merged_df['style'].unique()

90

array(['American Pale Ale (APA)', 'American Barleywine', 'Winter Warmer',
       'Fruit / Vegetable Beer', 'American IPA', 'English Strong Ale',
       'American Double / Imperial IPA', 'American Black Ale',
       'Belgian Dark Ale', 'Berliner Weissbier', 'American Blonde Ale',
       'American Pale Wheat Ale', 'Kölsch', 'English Pale Ale',
       'American Amber / Red Lager', 'American Brown Ale',
       'English Barleywine', 'Milk / Sweet Stout', 'German Pilsener',
       'Pumpkin Ale', 'Belgian Pale Ale', 'American Pilsner',
       'Saison / Farmhouse Ale', 'English Brown Ale', 'American Stout',
       'Altbier', 'Oatmeal Stout', 'Cream Ale',
       'American Amber / Red Ale', 'Vienna Lager', 'American Porter',
       'American Double / Imperial Stout', 'Gose', 'Munich Helles Lager',
       'Witbier', 'Märzen / Oktoberfest', 'Tripel', 'Rye Beer',
       'American Pale Lager', 'Euro Dark Lager',
       'California Common / Steam Beer', 'Schwarzbier', 'Hefeweizen',
       'Other', 'English India Pale Ale (IPA)',
       'Extra Special / Strong Bitter (ESB)', 'American Strong Ale',
       'Czech Pilsener', 'Foreign / Export Stout', 'Euro Pale Lager',
       'American White IPA', 'Irish Dry Stout', 'Scotch Ale / Wee Heavy',
       'Radler', 'Irish Red Ale', 'Herbed / Spiced Beer',
       'American Adjunct Lager', 'Scottish Ale', 'Smoked Beer', 'Bock',
       'Belgian Strong Pale Ale', 'English Pale Mild Ale',
       'Abbey Single Ale', 'Belgian IPA', 'Roggenbier',
       'Dortmunder / Export Lager', 'American Dark Wheat Ale',
       'English Stout', 'English Dark Mild Ale', 'Russian Imperial Stout',
       'Keller Bier / Zwickel Bier', 'American India Pale Lager',
       'Doppelbock', 'Munich Dunkel Lager', 'Maibock / Helles Bock',
       'Wheat Ale', 'Light Lager', 'Dunkelweizen', 'Baltic Porter',
       'English Bitter', 'Belgian Strong Dark Ale', 'Dubbel',
       'Chile Beer', 'Grisette', 'Bière de Garde', 'Old Ale',
       'Flanders Oud Bruin', 'Quadrupel (Quad)', 'American Wild Ale',
       'American Double / Imperial Pilsner'], dtype=object)

In [92]:
merged_df.head()

,abv,ibu,id,name,style,brewery_id,ounces,brewery_idbrewery_,namebrewery_,city,state
14,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),177,12.0,177,18th Street Brewery,Gary,IN
21,0.099,92.0,1036,Lower De Boom,American Barleywine,368,8.4,368,21st Amendment Brewery,San Francisco,CA
22,0.079,45.0,1024,Fireside Chat,Winter Warmer,368,12.0,368,21st Amendment Brewery,San Francisco,CA
24,0.044,42.0,876,Bitter American,American Pale Ale (APA),368,12.0,368,21st Amendment Brewery,San Francisco,CA
25,0.049,17.0,802,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,368,12.0,368,21st Amendment Brewery,San Francisco,CA

In [94]:
merged_df.to_csv('beer_data.csv',index=False)