In [1]:
#import libraries
import pandas as pd
import numpy as np

In [5]:
# Read in datasets
#import beers
beers = pd.read_csv('Resources/beers.csv', index_col='name')
breweries = pd.read_csv('Resources/breweries.csv', index_col='name')

In [6]:
sbeers = beers[
    ['abv','ibu','style']
]
sbeers = sbeers.dropna()

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(sbeers[['ibu','abv']], sbeers[['style']], random_state=48)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
y_train

                                              style
name
LuckenBock                                     Bock
Mo's Gose                                      Gose
805                             American Blonde Ale
Overcast Espresso Stout              American Stout
Abominable Winter Ale           American Strong Ale
...                                             ...
Consilium                   American Pale Ale (APA)
Pyramid Hefeweizen (2011)                Hefeweizen
Aviator Raspberry Blonde        American Blonde Ale
Self Starter                           American IPA
Harpoon Summer Beer (2012)                   Kölsch

[1052 rows x 1 columns]